@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-font: 'Poppins', sans-serif;
    --primary-color: #fff;
    --main-red: #fd6262;
    --main-gray: #8a8a8a;
    --main-lt-blue: #889CE7;
    --main-black: #141416;
    --border-clr: #3F4349;
}

html {
    background: var(--main-black);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: 0;
}

.container {
    max-width: 1770px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.get-btn {
    max-width: max-content;
    background: rgb(14, 14, 16);
    border: solid 1px #fff;
    border-radius: 5px;
    font-size: calc(10px + 4 * (100vw / 1920));
    text-transform: capitalize;
    color: var(--primary-color);
    display: block;
    padding: 10px 12px;
    transition: .4s;
    min-width: max-content !important;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    
    &:hover {
        color: var(--main-black);
        background: var(--main-lt-blue);
        border-color: var(--main-lt-blue);
    }
}

.red-btn {
    max-width: max-content;
    width: 100%;
    background: var(--main-red);
    border: 1px solid var(--main-red);
    border-radius: 5px;
    font-size: 16px;
    display: block;
    text-transform: capitalize;
    color: var(--main-black);
    padding: 15px 28px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    
    &:hover {
        color: var(--primary-color);
        background: var(--main-black);
        border-color: var(--primary-color);
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--main-black);
}

::-webkit-scrollbar-thumb {
    background: var(--main-lt-blue);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.bottom-line {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    display: block;
    background: #3f4349;
}

.all-txt {
    font-size: calc(16px + 14 * (100vw / 1920));
    color: var(--primary-color);

    &::first-letter {
        text-transform: uppercase;
    }
}

.all-title {
    font-size: calc(28px + 32 * (100vw / 1920));
    color: var(--primary-color);
    font-weight: 500;

    &::first-letter {
        text-transform: uppercase;
    }
}


.all-md-title {
    font-size: calc(26px + 4 * (100vw / 1920));
}

@media (min-width: 1920px) {
    .all-title {
        font-size: 60px !important;
    }

    .all-md-title {
        font-size: 30px !important;
    }

    .all-txt {
        font-size: 30px !important;
    }

    .get-btn {
        font-size: 14px !important;
    }
}

@media (max-width: 992px) {
    .all-title {
        font-size: calc(28px + (32 + 32 * 0.7) * ((100vw - 320px)/ 1920)) !important;
    }

    .all-txt {
        font-size: calc(16px + (14 + 14 * 0.7) * ((100vw - 320px)/ 1920)) !important;
    }

    .all-md-title {
        font-size: calc(26px + (4 + 4 * 0.7) * ((100vw - 320px)/ 1920)) !important;
    }
}